.search-permission {
    min-height: 236px;
  }
  
  .search-permission #available-permissions {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #f1f1f1;
  }
  
  .search-permission #available-permissions > div:first-child {
    padding: 2px 13px;
    background-color: #fff;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
  }
  
  .search-permission #available-permissions > div:first-child .search-button {
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #e4e7ea;
  }
  
  .search-permission #available-permissions > div:first-child .search-button:focus {
    color: #5c6873;
    border-color: #e4e7ea;
    outline: 0;
    box-shadow: 0px 4px 6px -4px #e4e7ea;
  }
  
  .search-permission #available-permissions .get-available-permissions {
    padding: 0px 15px;
  }