@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;1,400&display=swap');
canvas {
    display: block;
    vertical-align: bottom;
}
button, input, optgroup, select, textarea{
    font-family:'Exo', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #00356B; */
    background: url("../images/login_bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    position: absolute;
    /* top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */
    color: #fff;
    width: 100%;
    padding: 2em 3em;
    text-shadow: 0px 0px 2px #131415;
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Exo', sans-serif !important;
}

.login_form {
    width: 100%;
    background-color: rgb(255 255 255 / 20%);
    /* height: 400px; */
    border-radius: 25px;
    padding: 100px;
}

.login_btn {
    border-radius: 25px;
    border: 0;
    padding: 15px 20px;
    background: #02fdb3;
    background: -moz-radial-gradient(center, ellipse cover, #02fdb3 0%, #3bc6b0 99%);
    background: -webkit-radial-gradient(center, ellipse cover, #02fdb3 0%, #3bc6b0 99%);
    background: radial-gradient(ellipse at center, #02fdb3 0%, #3bc6b0 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#02fdb3', endColorstr='#3bc6b0', GradientType=1);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00ffb3;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #00ffb3;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #00ffb3;
}

input {
    outline: 0;
    border: 0;
    display: block;
}

.textbox {
    display: block;
    /* max-height: 48px;
    padding: 20px 8px 4px 8px; */
    width: 100%;
    /* height: 48px; */
    position: relative;
}

.textbox input[type="text"],
.textbox input[type="url"],
.textbox input[type="tel"],
.textbox input[type="number"],
.textbox input[type="color"],
.textbox input[type="email"],
.textbox input[type="password"] {
    width: 100%;
    padding: 8px 4px 6px 4px;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.67);
    border-bottom: 1px solid #00ffb3;
}

h5.text-right.login-title {
    padding-left: 100px;
    padding-right: 100px;
}
.text.login-page {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.login-logo{
    width:50%;
    position: absolute;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p.copyright-text {
    padding: 15px;
    font-size: 14px;
    text-align: center;
    color: #9185b2;
}

@media only screen and (max-width: 786px) {
    .col-sm-6.log-form {
        top: 50px;
    }
    h5.text-right.login-title {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 12px;
    }
    .login_form{
        padding:40px;
    }
    p.copyright-text{
        font-size:8px;
    }
    .login_btn{
        padding: 5px 17px;
        font-size: 14px;
    }
    input.input-box {
        font-size: 14px !important;
    }
    .text.login-page {
        padding: 0px !important;
    }
    .login-logo{
        left:50%;
    }
}
@media only screen and (min-width: 786px) {
    .login-logo{
        left:30%;
    }

}